* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  font-family: Helvetica, Arial, sans-serif;
  color: #312F2C;
}

header, footer {
  background-color: #FAFAFA;
  padding: 20px;
  text-align: left;
  border: 1px solid black;
}

footer {
  margin-top: 40px;
}

nav {
  padding: 10px 20px;
  border-bottom: 1px solid black;
}

nav a {
  margin-right: 15px;
  font-weight: bold;
}

main {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  color: #292929;
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 20px;
}

h2 {
  color: #292929;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
   color: #858585;
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 1.8;
}

ul {
  padding-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

a {
  color: #4c4ca9;
  text-decoration: none;
}

a:hover {
  color: #fcfcfc;
  text-decoration: underline;
}



.encabezado {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  margin-right: auto;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  font-weight: bold;
}

.carrito {
  font-size: 20px;
  margin-left: auto;
}


nav {
  border-bottom: none;
}



.categorias {
  margin-top: 20px;
}

.contenedor-categorias {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tarjeta {
  width: 100%;
}

.imagen {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 10px;
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
   margin-top: 25px;
}

.tarjeta h3 {
  margin-top: 25px;
  font-size: 18px;
}

.tarjeta p {
  margin-top: 5px;
  font-size: 14px;
}

@media (min-width: 640px) {

  .contenedor-categorias {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tarjeta {
    width: 45%;
  }

}
@media (min-width: 1024px) {

  main {
    max-width: 1000px;
  }

  .contenedor-categorias {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .tarjeta {
    width: 300px;
  }

  .imagen {
    aspect-ratio: 1 / 1;
  }

}

 /* index hero xd*/
 .hero {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("imgs/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenido-hero {
  color: white;
  max-width: 500px;
}

.contenido-hero h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

.contenido-hero p {
  font-size: 16px;
  margin-bottom: 20px;
}

.boton {
  background-color: #5b5bd6;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  display: inline-block;
}

h4 {
  color: #ffffff;
  font-size: 34px;
  font-weight: bolder;
  margin-bottom: 20px;
}



/* el footer xd */
.footer {
  background-color: #FAFAFA;
  color: #312F2C;
  padding: 30px 20px;
}

.footer-contenedor {
  max-width: 1100px;
  margin: 0 auto;
}

.footer-grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-seccion h3 {
  color: #727272;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-seccion ul {
  list-style: none;
  padding-left: 0;
}

.footer-seccion li {
   margin-top: 8px;
  margin-bottom: 8px;
}

.footer-seccion a {
  color: #8d8d8d;
  text-decoration: none;
  font-size: 12px;
}

.footer-seccion a:hover {
  color: #393939;
}

.social a {

  margin-right: 10px;
  margin-bottom: 5px;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.newsletter p {
  font-size: 14px;
  margin-bottom: 10px;

    color: #858585;
  text-decoration: none;
  font-size: 12px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario input {
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #a3a3a3;
  border-radius: 6px;
  color: white;
}

.formulario button {
  padding: 10px;
  background-color: #eaeaea;
  color: #848484;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #9d9d9d;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #1e293b;
  font-size: 12px;
}



@media (min-width: 640px) {

  .footer-links {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }

}



@media (min-width: 1024px) {

  .footer-grid {
    display: flex;
    flex-direction: row;
  }

  .footer-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

  .footer-seccion {
    flex: 1;
  }

  .newsletter {
    flex: 1;
  }

  .formulario {
    flex-direction: row;
  }

  .formulario input {
    flex: 2;
  }

  .formulario button {
    flex: 1;
  }

}