.category {
  display: block;
  text-decoration: none;
  color: inherit;
}

.categories__title {
  font-size: 2rem;
  font-weight: bold;
}

.category__image {
  border-radius: var(--radius);
  overflow: hidden;
}


.category__image img {
  width: 100%;
  aspect-ratio: 328 / 218.67;
  object-fit: cover;
}


.category__title {
  margin-top: 1rem;
}

.category__description {
  font-size: 0.875rem;
  color: var(--text-muted);
}

@media (min-width: 64rem) {
  .category {
    flex: 1;
  }

  .category__image img {
    aspect-ratio: 3 / 4;
  }
}