.header {
  border-bottom: 1px solid black;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  flex: 1;
}

.header__logo img {
  height: 3rem;
}

.header__menu {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.header__carrito {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
