.main-header {
  border-bottom: 1px solid var(--border);
}

.main-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__logo {
  flex: 1;
}

.main-header__logo img {
  height: 3rem;
}

.main-nav {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.main-header__actions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.main-header__cart {
  width: 24px;
  height: 24px;
}