.nav-item {
  text-decoration: none;
  color: var(--text-muted);
  padding: 0.5rem 0.75rem;
  border-radius: var(--radius);
  transition: 0.2s;
}

.nav-item:hover {
  background-color: #b6b6e6;
  color: var(--foreground);
}