.nav-item {
  text-decoration: none;
  color: var(--text-muted);
  padding: 0.5rem 0.5rem;
  align-self: stretch;
  display: flex;
  align-items: center;
  transition: background-color 200ms;
}




.nav-item:hover {
  background-color: #b6b6e6;
  color: var(--foreground);
}
