.nav-item {
  text-decoration: none;
  color: var(--text-muted);
  padding: 0.5rem 0.5rem;
  align-self: stretch;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.nav-item:hover {
  background-color: #9595e3;
  color: var(--foreground);
}