.products-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  padding: 1.5rem;
}



@media (min-width: 40rem) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}



@media (min-width: 64rem) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

