.quality {
  padding-top: 3rem;
  padding-bottom: 3rem;

  background-color: var(--muted-background);
}




.quality__header {
  text-align: center;
  margin-bottom: 3rem;
}

.quality__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 40rem) {
  .quality__list {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media (min-width: 64rem) {
  .quality__list {
    grid-template-columns: repeat(4, 1fr);
  }
}



