
.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


@media (min-width: 40rem) {
  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}



@media (min-width: 64rem) {
  .section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}