
.section-sm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 40rem) {
  .section-sm {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 64rem) {
  .section-sm {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}